.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #ffffff;
    width: 1512px;
    height: 4875px;
    position: relative;
  }
  
  .home .overlap {
    position: absolute;
    width: 1512px;
    height: 975px;
    top: 2925px;
    left: 0;
    background: linear-gradient(180deg, rgb(138.74, 29.91, 247.56) 0%, rgb(209.7, 80.75, 255) 100%);
  }
  
  .home .text-wrapper {
    position: absolute;
    width: 548px;
    height: 162px;
    top: 109px;
    left: 197px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 78px;
    letter-spacing: 3.9px;
    line-height: normal;
  }
  
  .home .overlap-group {
    position: absolute;
    width: 565px;
    height: 452px;
    top: 318px;
    left: 813px;
    background-color: #ffffff4c;
    border-radius: 50px;
    border: 2px solid;
    border-color: #ffffff;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
  }
  
  .home .group {
    position: absolute;
    width: 503px;
    height: 297px;
    top: 39px;
    left: 30px;
  }
  
  .home .text-wrapper-2 {
    top: 367px;
    left: 30px;
    position: absolute;
    width: 444px;
    height: 40px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: normal;
  }
  
  .home .text-wrapper-3 {
    left: 1436px;
    position: absolute;
    height: 59px;
    top: 507px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff66;
    font-size: 48px;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: normal;
  }
  
  .home .text-wrapper-4 {
    left: 33px;
    position: absolute;
    height: 59px;
    top: 507px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff66;
    font-size: 48px;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: normal;
  }
  
  .home .overlap-wrapper {
    position: absolute;
    width: 567px;
    height: 452px;
    top: 318px;
    left: 150px;
  }
  
  .home .overlap-2 {
    position: relative;
    width: 565px;
    height: 452px;
    background-color: #ffffff4c;
    border-radius: 50px;
    border: 2px solid;
    border-color: #ffffff;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
  }
  
  .home .img {
    position: absolute;
    width: 503px;
    height: 297px;
    top: 43px;
    left: 29px;
  }
  
  .home .text-wrapper-5 {
    top: 372px;
    left: 29px;
    position: absolute;
    width: 444px;
    height: 40px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: normal;
  }
  
  .home .overlap-3 {
    position: absolute;
    width: 1512px;
    height: 975px;
    top: 3900px;
    left: 0;
    background-color: #240048;
  }
  
  .home .text-wrapper-6 {
    position: absolute;
    width: 548px;
    height: 162px;
    top: 151px;
    left: 197px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 78px;
    letter-spacing: 3.9px;
    line-height: normal;
  }
  
  .home .linkedin {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 640px;
    left: 205px;
    object-fit: cover;
  }
  
  .home .instagram {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 640px;
    left: 388px;
    object-fit: cover;
  }
  
  .home .p {
    position: absolute;
    width: 1097px;
    height: 289px;
    top: 313px;
    left: 208px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 2.4px;
    line-height: normal;
  }
  
  .home .copyright {
    position: absolute;
    width: 834px;
    height: 42px;
    top: 901px;
    left: 208px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 1.2px;
    line-height: normal;
  }
  
  .home .overlap-4 {
    position: absolute;
    width: 1512px;
    height: 982px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(138.74, 29.91, 247.56, 0.1) 0%, rgba(209.7, 80.75, 255, 0.1) 100%);
  }
  
  .home .vector {
    position: absolute;
    width: 209px;
    height: 71px;
    top: 43px;
    left: 1247px;
  }
  
  .home .text-wrapper-7 {
    position: absolute;
    top: 60px;
    left: 756px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: normal;
  }
  
  .home .text-wrapper-8 {
    position: absolute;
    top: 60px;
    left: 1080px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: normal;
  }
  
  .home .text-wrapper-9 {
    position: absolute;
    top: 60px;
    left: 903px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: normal;
  }
  
  .home .hero-image {
    position: absolute;
    width: 379px;
    height: 380px;
    top: 297px;
    left: 956px;
  }
  
  .home .oi-eu-sou-o {
    position: absolute;
    width: 521px;
    height: 388px;
    top: 296px;
    left: 192px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 78px;
    letter-spacing: 3.9px;
    line-height: normal;
  }
  
  .home .span {
    font-weight: 600;
    letter-spacing: 3.04px;
  }
  
  .home .text-wrapper-10 {
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 32px;
    letter-spacing: 0.51px;
  }
  
  .home .slice {
    position: absolute;
    width: 1512px;
    height: 982px;
    top: 0;
    left: 0;
  }
  
  .home .text-wrapper-11 {
    position: absolute;
    width: 192px;
    top: 56px;
    left: 1298px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: normal;
  }
  
  .home .text-wrapper-12 {
    position: absolute;
    width: 548px;
    height: 162px;
    top: 1090px;
    left: 192px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 78px;
    letter-spacing: 3.9px;
    line-height: normal;
  }
  
  .home .text-wrapper-13 {
    position: absolute;
    width: 548px;
    height: 162px;
    top: 2062px;
    left: 192px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 78px;
    letter-spacing: 3.9px;
    line-height: normal;
  }
  
  .home .text-wrapper-14 {
    position: absolute;
    width: 1106px;
    top: 1341px;
    left: 192px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 36px;
    letter-spacing: 1.8px;
    line-height: normal;
  }
  
  .home .web-design {
    position: absolute;
    width: 312px;
    height: 310px;
    top: 2283px;
    left: 609px;
  }
  
  .home .overlap-group-2 {
    position: relative;
    width: 310px;
    height: 310px;
    border-radius: 50px;
    border: 4px solid;
    border-color: #b219e8;
  }
  
  .home .text-wrapper-15 {
    position: absolute;
    width: 247px;
    height: 75px;
    top: 170px;
    left: 28px;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: normal;
  }
  
  .home .icons-web-design {
    position: absolute;
    width: 81px;
    height: 81px;
    top: 43px;
    left: 110px;
    object-fit: cover;
  }
  
  .home .UI-UX-design {
    position: absolute;
    width: 312px;
    height: 310px;
    top: 2283px;
    left: 996px;
  }
  
  .home .overlap-5 {
    position: relative;
    width: 310px;
    height: 310px;
    border-radius: 50px;
    border: 4px solid;
    border-color: #8a1df7;
  }
  
  .home .text-wrapper-16 {
    position: absolute;
    width: 212px;
    height: 75px;
    top: 170px;
    left: 45px;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: normal;
  }
  
  .home .smartphone {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 42px;
    left: 111px;
    object-fit: cover;
  }
  
  .home .graphic-design {
    position: absolute;
    width: 312px;
    height: 310px;
    top: 2283px;
    left: 205px;
  }
  
  .home .overlap-6 {
    position: relative;
    width: 310px;
    height: 310px;
    border-radius: 50px;
    border: 4px solid;
    border-color: #d150ff;
  }
  
  .home .graphic {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 43px;
    left: 111px;
    object-fit: cover;
  }
  